<div class="stc-footer-top bg-fblue">
  <div class="row property">
    <div class="medium-6 columns">
      <a href="http://www.libertysavings.com/" target="_blank"><h3>Liberty Savings Bank</h3></a>
      <p>Sponsor</p>
    </div>
    <div class="row property">
      <div class="medium-6 columns">
        <a href="http://lutherhondaofstcloud.com/" target="_blank"><h3>Luther Honda of St. Cloud</h3></a>
        <p>Sponsor</p>
      </div>
    </div>
  </div>
</div>
<div class="stc-footer-bottom">
  <div class="row">
    <div class="medium-4 medium-4 push-8 columns">
      <ul class="home-social">
          <li><a href="http://www.twitter.com/sctimes"><i class="fa fa-twitter-square fa-2x"></i></a></li>
          <li><a href="http://www.facebook.com/stcloudtimes"><i class="fa fa-facebook-square fa-2x"></i></a></li>
      </ul>
     </div>
     <div class="medium-8 medium-8 pull-4 columns">
        <ul class="stc-links" style="margin-left:-11px;">
          <li><a href="http://www.sctimes.com/section/subscription-options&gps-source=CPHPPRIMARY">Subscribe</a></li>
          <li><a href="http://www.sctimes.com/section/CUST">Contact</a></li>
          <li><a href="http://www.sctimes.com/faq">FAQ</a></li>
          <li><a href="http://www.timesmediasolutions.com/">Advertise</a></li>
       </ul>
       <p class="copyright">Copyright © 2013 www.sctimes.com. All rights reserved.</p>
    </div>          
  </div>
</div>
